/*Responsive Styles Start*/

@media all and (max-width : 1200px) {
    
    
    
    #portfolio-item1 {
        width: 50%;
    }  
    
    #portfolio-item2 {
        width: 50%;
    }
    
    #portfolio-item3 {
        width: 100%;
    }
}



@media all and (max-width : 768px) {
    
    #main-nav .toggle  {
        display: block;
        color: #1ac056;
        padding: 0 20px;
        font-size: 20px;
        line-height: 60px;
        text-decoration: none;
        border: none;
        text-align: right;
        
}
    
    #main-nav ul {
        display: none;
    }
    
    #main-nav #drop:checked + ul {
        display: block;
    }

    #main-nav ul li {
        display: block;
         padding-right: 20px;
        
    }
    
    #main-nav ul {
        text-align: right;
       
    }
    
    #images {
        
    }
    
    
    
    #main-header .main-header-content {
        padding: 15%;
        text-align: center;
        
    }
    
    #main-header .main-header-content h1 {
        font-size: 3em;
    }
     
    
    #main-header .main-header-content h2 {
        font-size: 1.5em;
    }

     
    #about>figure>img {
        max-height: inherit;
       
    }
    
    #about>figure {
         width: 100%;
    }
    
    #about>article {
         text-align: center;
         width: 100%;
    
    
}
/*Portfolio styles resp*/
    
    #portfolio .portfolio-img  {
        width: 100%;
    }
    
    
    
/*Kontakt styles resp*/
    
    #contact {
        display: block;
        text-align: center;
    }
    
   
    #contacts>h2 {
        text-align: center;
    }
    
    
    #contacts {
        width: 100%
        
    }
   
    
    #forma {
        width: 100%;
    }
    
    #icons a {
        margin: 0;
    }




@media all and (max-width : 680px) {
    
    
    
    #main-header .main-header-content h1 {
        font-size: 3em;
    }
    
    #main-header .main-header-content h1 {
        font-size: 1.5em;
    }
    
    #about {
        padding: 0;
    }
    
    #about>figure>img {
        max-height: inherit;
       
    }
    
    #about>figure {
        width: 100%;
    }
    
    #about>article {
         text-align: center;
         width: 100%;
        
    }
    
    section {
        padding: 0 40px 50 px;
    }
    
}



@media all and (max-width : 480px) {
    
    
     #main-header .main-header-content {
        padding: 20%;
    }
    
    #main-header .main-header-content h1 {
        font-size: 2.5em;
    }
    
    #main-header .main-header-content h1 {
        font-size: 1.2em;
    }
          
    }
    section {
        padding: 0 10px 30 px;
    }
}

/*Responsive Styles Finish*/