/*General styles*/
*{
    box-sizing: border-box;
}

body {
    
    font-family: 'Lato', sans-serif;
    color: #291f1a;
    margin: 0;  
}


span {
    color: #1ac056;
    font-weight: 400;
}

h1, h2, h3, h4, h5 {
    text-align: center;
    
}

section > h2 {
    font-size: 30px;
    font-weight: 300;
    margin-top: 60px;
    margin-bottom: 35px;
}

section {
    padding: 0 80px 100px;
    width: 100%;
}


/*Main menu styles*/


#main-nav {
    
    position: fixed;
    top: 0;
    background-color: #fff;
    width: 100%;
    right: 0;
}


#main-nav>ul {
    
    float: right;
    margin: 0;
}


#main-nav>ul>li {
    
    display: inline-block;
    list-style: none;
    padding: 20px 35px;
    
   
}

#main-nav>ul>li>a {
    
    color: #1ac056;
    text-decoration: none;
    font-weight: 300;
}


#main-nav>ul>li>a:hover {
    color: #291f1a;
    
}
/*Header styles*/

#main-header {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(img/header-background.jpg);
    color: white;
}


.main-header-content {
    padding: 30vh;
    text-align: center;
}

.main-header-content h1 {
    font-size: 4em;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

.main-header-content h2 {
    font-weight: 200;
    font-size: 2em;
}

/*section about styles*/


#about>figure {
    width: 50%;
    margin: 0;
    float: left;
    text-align: center;
    
   
}

#about>figure>img {
    max-height: 350px;
    border: 14px #fff solid;
    border-radius: 15px;
    max-width: 100%;
}


#about>article {
    width: 50%;
    float: left;
   
}


#about {
    background-color: #f9fcfe;
    overflow: hidden;
}

#about>article>p {
    font-weight: 300;
    line-height: 25px;
}




