/*General styles*/
*{
    box-sizing: border-box;
}

body {
    
    font-family: 'Lato', sans-serif;
    color: #291f1a;
    margin: 0;  
}


span {
    color: #1ac056;
    font-weight: 400;
}

h1, h2, h3, h4, h5 {
    text-align: center;
    
}

section > h2 {
    font-size: 30px;
    font-weight: 300;
    margin-top: 60px;
    margin-bottom: 35px;
}


a {
    text-decoration: none;
}


p {
 font-weight: 300;
line-height: 25px;
}


section {
    padding: 0 80px 100px;
    width: 100%;
}


/*Main menu styles*/


#main-nav {
    
    position: fixed;
    top: 0;
    background-color: #fff;
    width: 100%;
    right: 0;
}


#main-nav>ul {
    
    float: right;
    margin: 0;
}


#main-nav>ul>li {
    
    display: inline-block;
    list-style: none;
    padding: 20px 35px;
    
   
}

#main-nav>ul>li>a {
    
    color: #1ac056;
    text-decoration: none;
    font-weight: 300;
}


#main-nav>ul>li>a:hover {
    color: #291f1a;
    

}


#main-nav .toggle, #drop {
    display: none;
}

/*Header styles*/

#main-header {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(img/header-background.jpg);
    color: white;
}


.main-header-content {
    padding: 30vh;
    text-align: center;
}

.main-header-content h1 {
    font-size: 4em;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

.main-header-content h2 {
    font-weight: 200;
    font-size: 2em;
}

/*section about styles*/


#about>figure {
    width: 50%;
    margin: 0;
    float: left;
    text-align: center;
    
   
}

#about>figure>img {
    max-height: 350px;
    border: 14px #fff solid;
    border-radius: 15px;
    max-width: 100%;
}


#about>article {
    width: 50%;
    float: left;
   
}


#about {
    background-color: #f9fcfe;
    overflow: hidden;
}

#about>article>p {
    font-weight: 300;
    line-height: 25px;
}

#skills>h3 {
   font-weight: 300;
   font-size: 2em;
}

#skills-icons {
    text-align: center;
}
#skills-icons>figure {
    display: inline-block;
    text-align: center;
    max-width: 100%;
}


#skills-icons>figure>figcaption {
    width: 100%;
    text-align: center;
    padding: 10px;
    
}

#skills #skills-icons figure {
    margin-bottom: 15px;
}

#skills>p {
     text-align: center;
}


#contacts>h2 {
  text-align: left;
    font-size: 30px;
 
    
}







section#contact {
    background-color: darkslateblue ;
    color: white;
    overflow: hidden;
    max-width: 100%;
    position: relative;

}


#contacts {
    width: 50%;
    top: 600px;
    left: 20px;
    float: left;
    margin-top: 20px;
  
    
}


#forma {
  width: 50%;
  float: right;
  margin-top: 50px;
  margin-bottom: 0;
    
}


address {
    margin: 0;
    font-weight: 400;
    font-size: 17px;
}
   



input  {
    width: 100%;
    padding: 10px 10px;
    margin: 4px 0;
    background-color: cornflowerblue;
    border: 0;
}

input:hover {
    background-color: white;
}

input:focus {
    background-color: white;
}

input#przycisk {
    width: 100px;
    height: 50px;
    background-color: green;
    color: white;
    font-weight: 350;
    font-size: 17px;
    float: right;
    
}

input#przycisk:hover {
    background-color: white;
}

input#przycisk:focus {
    background-color: white;
}

form textarea {
    width: 100%;
    padding: 20px 10px;
    margin: 1px 0;
    background-color: cornflowerblue;

}
    
form textarea:hover {
   background-color: white;
}



form textarea:focus {
    background-color: white;
}


#icons {
    margin-top: 100px;
}


#icons a {
    border: 1px solid #fff;
    color: #fff;
    width: 38px;
    height: 38px;
    display: inline-block;
    text-align: center;   
    line-height: 38px;
    margin-right: 20px;
}



footer {
    background-color: black;
    color: white;
   
    
   
}

footer>p {
    margin: 0;
    padding-left: 80px;
        
}


/*Koniec kontakt*/


/*Moje portfolio*/




#portfolio {
    width: 100%;
    font-size: 0;
}


.portfolio-img {
    display: inline-block;
    width: 33.33%;
    background-position: center;
    background-size: cover;
    height: 350px;
    position: relative;
    
}


.portfolio-mask {
    position: absolute;
    background: rgba(26, 104, 131, 0.7);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.3s linear;

}

#images {
    width: 100%;
}


#portfolio-item1 {
    background-image: url("img/portfolio1.jpg");
    
}


#portfolio-item2 {
    background-image: url("img/portfolio2.jpg");
    
}


#portfolio-item3 {
    background-image: url("img/portfolio4.jpg");
    
}




.portfolio-mask:hover {
    opacity: 1;
    
}

.mask-border {
    border: 1px solid #fff;
    height: 330px;
    margin: 10px;
    position: relative;
}

.portfolio-content {
    font-size: initial;
    text-align: center;
    color: #fff;
    transform: translateY(0);
    top: 50%;
    padding: 5px;
    left: 0;
    right: 0;
}


.portfolio-content a {
    color: #fff;
}




